/* Eurofurence */
@font-face {
    font-family: eurofurence;
    src: url('/SITE/fonts/eurofurence/eurofurence-Regular.ttf');
}

/* Lato-bold */
@font-face {
    font-family: lato-bold;
    src: url('/SITE/fonts/lato/Lato-Bold.ttf');
}

@font-face {
    font-family: lato-regular;
    src: url('/SITE/fonts/lato/Lato-Regular.ttf');
}