.card p {
    font-family: lato-regular, sans-serif;
    margin: 0 0 44px 0;

}

.card {
    display: flex;
    flex-direction: column;

    gap: 43px;
}

h2 {
    text-transform: uppercase;
    margin-bottom: 58px;

}

.card-content {
    display: flex;
    flex-direction: column;
}