.main-header {
    background: var(--clr-primary-base);
    min-height: 132px;
    display: grid;
    grid-template-columns: inherit;
    z-index: 1;
}

.main-header .inner-container {
    grid-column: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}