.main-nav li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 135px;
    height: 133px;
}

.main-nav li:hover a {
    color: var(--clr-secondary--1)
}

.main-nav li a:focus {
    color: var(--clr-secondary--1)
}

.main-nav li:hover {
    box-shadow: inset 0px -6px 0px rgba(87.9986572265625, 201.00082397460938, 57.999114990234375, 1);
}

.main-nav .main-nav-list a {

    text-decoration: none;
    text-transform: uppercase;
}

.btn-toggle-menu {
    width: 50px;
    font-size: 32px;
}